@{
    ViewBag.Title = "Social Media Home Page";
}

<h2>Social Media Test App</h2>
<div class="container">
    <div ng-include="'/apps/Views/UsersEditView.html'"></div>
    @*<div ng-include="'/apps/Views/UsersListView.html'"></div>*@
</div>
